* { margin:0; padding: 0; box-sizing: border-box;}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

#app {
    height: auto;
    /* padding: 1.25em; */
    margin: 0 auto;
}

img {
    max-width: 100%;
}

span {
    font-style: italic;
    color: grey;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
    background-color: black;

    transition: ease all .5s;
}

header ul {
    list-style-type: none;
    display: none;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
}

header .fa-search {
    display: none;
}

#banner-img {
    width: 100%;
    height: 45vw;
    background-image: url("./day6_challanges/Responsive/web_1/images/chicago.jpg");
    background-size:cover;
}

.content-banner {
    display: none;
}

.content-banner h1{
    margin-bottom: 10px;
}

#band {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 80px 0px;
    padding: 0 1.25em;
}

#band h1, #band p {
    margin: 10px 0;
}

.img-set > div {
    margin: 60px 0px;
}

#tour {
    padding: 80px 1.25em;
    color: white;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tour-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0;
}

.tour-dates > * {
    margin: 10px 0;
}

.months {
    width: 100%;
    max-width: 1270px;
    height: 150px;
    margin-bottom: 30px;
    color: grey;
    background-color: white;
}

.sept, .oct, .nov{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 1.25em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid grey;
}

.sept p, .oct p, .nov p {
    margin-left: 10px;
}

.nov {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sold {
    width: 80px;
    padding: 3px;
    text-align: center;
    color: white;
    background-color: red;
}

.circle {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 40px;
    border-radius: 50%;

    color: white;
    background-color: black;
}

.places {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.places-card {
    margin-bottom: 20px;
    background-color: white;
}

.info {
    padding-bottom: 20px;
    color: black;
}

.info > * {
    font-size: 12px;
    margin: 10px;
}

.buy-btn {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 1px solid black;
}

#contact {
    padding: 1.25em;
}

.contact-title {
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-holder {
    width: 100%;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    margin:7px 0;
}

.contact-info i {
    margin-right: 1.25em;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-inputs-details input{
    display: block;
}

.contact-info, .form {
    margin: 20px 0;
}

.form-inputs-details {
    width: 100%;
    margin: 5px 0;
}

.form input {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
}

.send-btn {
    padding: 10px 12px;
    border-radius: 1px solid black;
    margin-top: 10px;
    float: right;
    color: white;
    background-color: black;
}

#last-img {
    width: 100%;
    height: 45vw;
    background-image: url("./day6_challanges/Responsive/web_1/images/map.jpg");
    background-size: cover;
    margin-top: 100px;
}

#logos {
    text-align: center;
    padding: 100px;
}

#logos ul {
    list-style-type: none;
    color: grey;
    font-size: 22px;
    margin-bottom: 10px;
}

#logos ul li {
    display: inline-block;
}

#logos p {
    font-size: 14px;
    color: grey;
}

@media (min-width:1000px) {
    header ul, header .fa-search {
        display: block;
    }

    header h3, header .fa-bars {
        display: none;
    }

    #banner-img {
        background-image: url("./day6_challanges/Responsive/web_1/images/ny.jpg");
    }

    .content-banner {
        height: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding: 30px;
        color: white;
    }

    .img-set {
        min-width: 1080px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .places {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .contact-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .form-inputs-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:475px) {
    #band, #tour, #contact {
        min-width: 475px;
    }
}